@import "../abstracts/mixins";
@import "../abstracts/variables";

.home{
    @include flex-center;
    padding: 10px;
    background: $background-color;
    min-height: 100vh;

    &__innerContainer{
        display: flex;
        align-items: center;
        gap: 7px;
        flex-direction: column;
        width: 100%;
    }
}