@import "./pages/home";
@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./components/button";
@import "./pages/dashboard";
@import "./components/loaders";
@import "./components/message";
@import "./components/form";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  ul,
  li,
  p,
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button{
    cursor: pointer;
    border: none;
  }